/*About Page*/
.About {
    position: absolute;
    top: 102px;
    bottom: 0;

    margin: auto;

    display: flex;
    align-items: center;
}

.about-photo {
    padding: 20px;
    min-width: 200px;
}

.about-text {
    padding: 30px;
    font-size: 1rem;
}

@media (max-width: 700px) {
    .About {
        flex-direction: column;
    }
    
}
@media (min-width: 700px) {
    .about-photo {
        min-width: 250px;
    }
}

@media (min-width: 950px) {
    .about-photo {
        min-width: 300px;
    }
}