@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}

p {
  margin: 20px 0px;
}

body {
  font-family: 'Inter', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgb(38, 38, 38);
  color: white;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 120px 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.PageTitle {
  font-size: 2rem;
  font-weight: bold;
  margin: 15px 0px 0px 40px;
}

.circular-photo {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.main-text {
  font-size: 1rem;
  padding: 30px;
}