@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}

p {
  margin: 20px 0px;
}

body {
  font-family: 'Inter', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgb(38, 38, 38);
  color: white;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 120px 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color:bisque;
}

a:hover {
  font-weight: bold;
}

a:active {
  color:beige;
}

a:visited {
  color: burlywood;
}

.PageTitle {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0px;
}

.PageSubtitle {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0px;
}

.circular-photo {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.rectangular-photo {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 3px;
  object-fit: contain;
}

.main-text {
  font-size: 1rem;
}